@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=M+PLUS+Rounded+1c:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover {
  background: url("../src/images/book-cover3.jpeg") no-repeat center center fixed;
  background-size: cover;
  box-shadow:
          inset 0 -3em 3em rgba(0, 0, 0, 0.1),
          0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.page {
    border: 1px solid #c2b5a3;
    background-color: #fff5ee;
  height: 100%;
  /*box-shadow:*/
  /*        inset 0 -3em 3em rgba(0, 0, 0, 0.1),*/
  /*        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);*/
}

.--left > .page {
    box-shadow: inset 0 7px 30px -7px rgba(0,0,0,.4),
                0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-right: 0;
}

.--right > .page {
    box-shadow: inset 7px 0 30px -7px rgba(0,0,0,.4),
                0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-left: 0;
}

.image-container {
    border: 1px #FFD9B7 solid;
}

.page-image {
    display: block;
}

.page-paragraph {
  /* height: 100%; */
  flex-grow: 1;
  text-align: justify;
  margin: 10px 0;
  padding: 4px 0;
  box-sizing: border-box;
  border-top: 1px solid #FFD9B7;
  line-height: 150%;
}

.page-footer {
    height: 30px;
    padding-top: 10px;
    border-top: 1px solid #FFD9B7;
    font-size: 80%;
    position: absolute;
    bottom: 0;
    /* display: block; */
    width: 90%;
    overflow: hidden
}

.title-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    height: 100%;
    width: 90%;
    text-align: center;
}

.title {
    /* font-family: 'Georgia', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFD700; */
    font-size: 3em;
    color: hsl(209, 43%, 53%);
    text-shadow: 2px 2px white;
    -webkit-text-stroke-width: 1px;
    /* -webkit-text-stroke-color: #858546; */
}

.giant-container {
    display: flex;
}

.owl-home {
  position: relative;
  top: 150px;
}

.owl-prompt {
  width: 100%;
}

.owl-story {
  position: absolute;
  top: 150px;
  width: 10%;
}

.main_title {
  margin-bottom: 0;
  text-shadow: 5px 5px hsl(209, 43%, 53%);
}

.desc {
  margin-top: 0;
  text-shadow: 3px 1px #003e90;
}

.home-bg {
  background-color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/cccircular.svg') no-repeat center center / cover;
  z-index: 10000;
}
