@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover {
  background: url("../src/images/book-cover3.jpeg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: 5;
}

.page {
  background-color: white;
  border: 1px solid #c2b5a3;
  height: 100%;
  box-shadow: 5;
}

.page-paragraph {
  /* height: 100%; */
  flex-grow: 1;
  text-align: justify;
  margin: 10px 0;
  padding: 15px 0;
  box-sizing: border-box;
  border-top: 1px solid #FFD9B7;
  line-height: 150%;
}

.page-footer {
    height: 30px;
    border-top: 1px solid #FFD9B7;
    font-size: 80%;
    position: absolute;
    bottom: 0;
    /* display: block; */
    width: 96%;
    overflow: hidden
}
