html, body {
  margin: 0;
  padding: 0;
}  

body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Home page
*/

.demo-description {
  font: 500 17px/20px sans-serif;
  font-family: din-round,sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo-text {
  margin: 3rem;
}

.cover {
  background-color: purple;
}

.deom-trial {
  background-color: blue;
}
